<mat-card>Ingrese los datos del menu</mat-card>

<form class="example-container" [formGroup]="form" #frmMenu="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="idMenu">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required formControlName="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="icono" required formControlName="icono">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="url" required formControlName="url" >
  </mat-form-field>



  <button mat-raised-button color="primary" type="submit" [disabled]="frmMenu.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/menu' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
